.portrait {
  width: 100%;
  height: auto !important;
  aspect-ratio: 200 / 114;
  background-position: center !important;
  background-size: cover !important;
}

.weapon-art[data-asset="weapon"] {
  height: 100% !important;
  aspect-ratio: auto;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
