.portrait {
  width: 100%;
  height: auto !important;
  aspect-ratio: 200 / 114;
  background-position: center !important;
  background-size: cover !important;
}

.weapon-art[data-asset="weapon"] {
  height: auto !important;
  aspect-ratio: 640 / 554;
  background-position: center !important;
  background-size: cover !important;
}
